@font-face{
    /* http://dejavu-fonts.org */ 
    font-family: 'DejaVuSerif';
    src: url('../fonts/DejaVuSerif.ttf');
    src: url('../fonts/DejaVuSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'DejaVuSerif';
}

.displayEntradas {
    font-size: 2em;
    line-height: 1.4em;
    height: 1.5em;
    padding: 0px;
    border: 1px solid #CCC;
    border-radius: 4px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}
.displayCaracter {
    background-color: #EEE;
    text-align: center;
    padding: 0px;
    font-family: 'DejaVuSerif';
}
.fuenteBraille {
}
.fuenteLatina {
}
.spanCaracter {
    width: 0.8em;
    display: inline-block;
    text-align: center;
}

.colorMayus { color: lightblue;}
.colorCapital { color: blue;}
.colorNum { color: gray;}
.colorEscapeNum { color: lightgray;}
.colorDesconocido { color: red;}

.absolute { position: absolute }
.relative { position: relative }    
.fullheight { position: absolute; top:0; bottom:0; }
.relative-fullheight { position: relative; height: 100% }
.fullwidth { left:0; right:0; }
.vat { top: 0; }
.vab { margin-top: 1.5%; bottom: 0; }
.vac { margin-top: 1.5%; }
    
.btnTeclado {
    height: 32%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 2em;
    text-align: left;
    overflow: hidden;
}
.btnAccion {
    vertical-align: bottom;
    text-align: right;
}
.btnAccion img {
    display: block;
    position: absolute;
    width: 2em;
    bottom: 14px;
    right: 16px;
}
